@keyframes roteIcon {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 540deg;
  }
}
.main1:hover .rotate {
  animation: roteIcon 0.5s ease forwards;
}
@keyframes roteIcon2 {
  100% {
    rotate: 0deg;
  }
  0% {
    rotate: 540deg;
  }
}
.animate-rote,
.main2 > .icon2 {
  animation: roteIcon2 0.5s ease forwards;
}

/* rotate 180 */
@keyframes rotate180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
.main180:hover .icon180 {
  animation: rotate180 0.5s ease forwards;
}

@keyframes tranlate {
  0% {
    translate: 0px 100%;
    opacity: 0;
    background-image: linear-gradient(to right, #8750f7, #3d0f99);
  }

  100% {
    translate: 0px -10%;
    opacity: 1;
    background-image: linear-gradient(to right, #8750f7, #3d0f99);
  }
}
.main:hover .box {
  animation: tranlate 0.3s ease forwards;
}

@keyframes background-gradient-work {
  0% {
    background-image: #140c1c;
  }
  10% {
    background-image: linear-gradient(to right, #8750f7, #3d0f99);
  }
  100% {
    background-image: linear-gradient(to right, #8750f7, #3d0f99);
  }
}
.animate-background:hover {
  animation: background-gradient-work 3s ease forwards;
}
